RFC Compatibility

*RFC 1459 - Internet Relay Chat* states that NOTICE should be used for messages that are not to be replied to automatically. Gambot is incompatible with this, instead using PRIVMSG. This leaves the bot (and other bots it can message) vulnerable to escalation attacks if the bot is given any sort of operator powers. In conjunction with #65, this can be a serious vulnerability.

Ref: [RFC 1459, Section 4.4.2](https://tools.ietf.org/html/rfc1459#section-4.4.2)